@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@layer base {
    @font-face {
        font-family: "Editorial old italic";
        src: url(../assets/fonts/ppeditorialold-italic.otf) format(opentype);
    }
    @font-face {
        font-family: "Editorial old";
        src: url(../assets/fonts/ppeditorialold-regular.otf) format(opentype);
    }
    @font-face {
        font-family: "Power Grotesk";
        src: url(../assets/fonts/PowerGrotesk-Black.ttf) format(truetype);
    }
}

@layer components {
    .hero-section {
        @apply bg-primary-orange overflow-x-hidden md:p-5 md:pb-0 2xl:pt-20 2xl:px-10;
    }
    .hero-section .heading {
        @apply text-secondary-slate-gray font-sans font-bold text-9xl md:text-[14rem] lg:text-[13rem] xl:text-[15rem] 2xl:text-[17rem];
    }
    .hero-section .dot {
        @apply p-5 rounded-full ml-3 bg-white inline-flex 2xl:p-8;
    }
    .hero-section .subheading {
        @apply p-10 text-white text-sm md:text-xs 2xl:text-sm;
    }
    .primary-btn {
        @apply bg-white font-serif text-secondary-slate-gray font-bold uppercase px-10 py-5 text-center;
    }
    .primary-btn:hover {
        box-shadow: -0.3em 0.3em 0 0 black;
        transform: translateY(-0.25em);
        transition: all ease-in-out;
        transition-duration: 200ms;
    }
    .hero-section .logos {
        @apply flex space-x-4 md:flex-wrap justify-around px-10 py-4 md:p-0 md:justify-start md:space-y-3 md:items-baseline 2xl:space-x-5;
    }
    .hero-section .logos img {
        @apply h-[15px] md:h-[20px] 2xl:h-[25px];
    }
    .hero-section .details {
        @apply md:w-1/2 xl:w-1/3 xl:ml-20;
    }
    .hero-section .companies {
        @apply md:w-1/2 lg:w-full lg:mb-5;
    }
    .hero-section .title {
        @apply text-dark-gray text-xs font-bold;
    }
    .hero-section .author {
        @apply md:relative md:-mt-[60%] md:translate-x-[25%] lg:w-[70%] lg:translate-x-[70%] lg:-mt-[70%] xl:-mt-[58%] xl:w-[65%] 2xl:-mt-[55%] 2xl:translate-x-[68%];
    }
    .proof-section {
        @apply bg-secondary-slate-gray text-white;
    }
    .proof-section .introduction {
        @apply py-20 px-10 lg:px-20 2xl:px-40 2xl:py-32;
    }
    .proof-section .introduction .heading {
        @apply text-4xl  font-bold md:text-6xl lg:w-2/3 2xl:text-[5rem];
    }
    .proof-section .introduction .content {
        @apply mt-20 md:w-1/2 md:ml-auto md:mr-20 lg:w-[40%];
    }
    .introduction .content p {
        @apply mb-5 text-sm md:text-xs 2xl:text-base;
    }
    .scroll-text {
        @apply text-9xl whitespace-nowrap font-bold text-dark-gray 2xl:text-[16rem];
    }
    .sliding-text-container {
        @apply relative;
    }
    .img-float .img-book {
        @apply w-[20%] mt-[-30%] z-20 relative mx-auto -rotate-12 md:mt-[-20%] lg:w-[10%] lg:mt-[-15%];
    }
    .testimonial-container {
        @apply pt-20 pb-0 text-center;
    }
    .testimonial-container .hashtag {
        @apply uppercase font-serif text-sm;
    }
    .testimonial-container .subtitle {
        @apply lg:text-xl 2xl:text-2xl;
    }
    .testimonial-splide {
        @apply py-10;
    }
    .testimonial-splide .testimonials {
        @apply border rounded-xl p-10;
    }
    .testimonials .testimonial {
        @apply text-2xl font-serif my-10;
    }
    .featured-video-section {
        @apply bg-secondary-slate-gray text-white pb-10;
    }
    .featured-video-section .heading {
        @apply text-4xl font-bold pl-10 pr-20 pt-20 md:w-1/2 md:px-0 md:text-5xl md:text-center md:mx-auto lg:text-6xl xl:text-7xl xl:px-10 2xl:text-8xl 2xl:px-0;
    }
    .featured-video-section .subheading {
        @apply p-10 md:w-1/2 md:px-0 md:mx-auto md:text-center 2xl:pt-20;
    }
    .featured-video-section .subheading p {
        @apply mb-5 text-sm 2xl:text-xl;
    }
    .featured-video-section .video-container {
        @apply h-[250px] mx-2 rounded-2xl overflow-hidden md:h-[450px] lg:h-[500px] xl:h-[600px] xl:mx-10 2xl:h-[800px];
    }
    .blogs-section {
        @apply pb-10 bg-[#D9D9D9];
    }
    .blogs-section .heading {
        @apply py-20 text-5xl font-bold text-center md:text-left md:pl-10 md:pr-40 lg:w-2/3 lg:text-7xl lg:mx-20 xl:text-8xl;
    }
    .blog-splide {
        @apply lg:w-1/2 lg:ml-auto lg:mt-[-12%] xl:mt-[-10%] xl:w-[55%] 2xl:w-[60%] 2xl:mt-[-8%];
    }
    .blog-splide .blog {
        @apply bg-secondary-slate-gray text-white p-5 h-[400px] flex flex-col justify-between;
    }
    .blog .title {
        @apply font-bold text-2xl 2xl:text-3xl;
    }
    .blog .excerpt {
        @apply text-xs mb-10 2xl:text-sm;
    }
    .blog .link {
        @apply font-serif text-primary-orange  uppercase;
    }
    .blog-splide {
        @apply relative;
    }

    .blog-splide .splide__arrows .splide__arrow--prev {
        @apply hidden;
    }
    .blog-splide .splide__arrows .splide__arrow--next {
        @apply h-[3rem] w-[3rem] p-2 md:p-4 md:h-[5rem] md:w-[5rem];
    }
    .footer-section {
        @apply bg-primary-orange text-white;
    }
    .newsletter {
        @apply p-10 md:w-8/12 md:mx-auto lg:w-1/2 2xl:pt-20;
    }
    .newsletter .heading {
        @apply text-4xl font-serif p-5 text-center md:text-5xl md:py-10 xl:text-6xl 2xl:text-[5rem];
    }
    .newsletter .subheading {
        @apply text-xs text-center md:px-10;
    }
    .newsletter-form {
        @apply my-10  font-serif text-sm flex md:px-10 md:mb-5 xl:px-20 2xl:text-xl;
    }
    .newsletter-form .input-text {
        @apply p-5 w-full 2xl:px-10 text-secondary-slate-gray;
    }
    .newsletter-form .submit-btn {
        @apply py-5 bg-secondary-slate-gray w-20 2xl:w-32;
    }
    .newsletter .label {
        @apply text-xs text-secondary-slate-gray w-10/12 text-center mx-auto md:w-8/12 2xl:text-sm;
    }
    .footer-section .phone-img {
        @apply h-screen;
        background: url("./img/img-iphone-the-subtle-art-of-not-giving-a-fck-mockup.png") no-repeat,
            linear-gradient(180deg, rgba(242, 104, 32, 0) 0%, rgba(242, 104, 32, 1) 18%, rgba(242, 104, 32, 1) 100%);
        background-size: 250%;
        background-position: 60% bottom;
    }
    .footer-section .author-name {
        @apply bg-dark-gray text-secondary-slate-gray;
    }
    .footer-section .author-name .heading {
        @apply font-serif-italic text-9xl md:text-[14rem] lg:text-[10.5rem] xl:text-[13.5rem] 2xl:text-[16rem];
    }
    .footer-section .watermark {
        @apply text-primary-orange text-center pb-10;
    }
}
@media (min-width: 768px) {
    .footer-section .phone-img {
        background-size: 180%;
    }
}
@media (min-width: 1024px) {
    .footer-section .phone-img {
        height: 130vh;
        background-size: contain;
    }
}
@media (min-width: 1536px) {
    .footer-section .phone-img {
        height: 110vh;
    }
}
@media (min-width: 1920px) {
    .hero-section .heading {
        @apply text-[21rem];
    }
    .hero-section .subheading {
        @apply text-lg;
    }
    .primary-btn {
        @apply text-2xl px-14 py-7;
    }
    .btn-label {
        @apply !text-base;
    }
    .hero-section .title {
        @apply text-lg;
    }
    .hero-section .logos {
        @apply space-x-10;
    }
    .hero-section .logos img {
        @apply h-[30px];
    }
    .hero-section .author {
        @apply w-[110%] translate-x-[40%] -mt-[52%];
    }
    .proof-section .introduction .heading {
        @apply text-8xl;
    }
    .introduction .content p {
        @apply text-xl;
    }
    .featured-video-section .heading {
        @apply pt-40 text-9xl px-32 w-2/3;
    }
    .featured-video-section .subheading p {
        @apply text-2xl;
    }
    .featured-video-section .video-container {
        @apply h-[1000px];
    }
    .blogs-section .heading {
        @apply text-9xl;
    }
    .blog-splide .blog {
        @apply h-[500px] p-10;
    }
    .blog .title {
        @apply text-4xl;
    }
    .blog .excerpt {
        @apply text-lg;
    }
    .blog .link {
        @apply text-2xl;
    }
    .newsletter {
        @apply pt-40;
    }
    .newsletter .heading {
        @apply text-8xl;
    }
    .newsletter .subheading {
        @apply text-xl;
    }
    .newsletter-form {
        @apply text-2xl;
    }
    .newsletter-form .input-text {
        @apply p-10;
    }
    .newsletter .label {
        @apply text-xl;
    }
    .newsletter-form .submit-btn {
        @apply w-40 p-10;
    }
    .footer-section .phone-img {
        height: 150vh;
    }
    .footer-section .author-name .heading {
        @apply text-[20rem];
    }
    .footer-section .watermark {
        @apply text-2xl;
    }
}
